@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">NewLife IT</h1>
    </div>

    <div class="text-left alert-heading">
        <h2>What We Do</h2>
        <p>NewLife IT foucses on development and mantiance of software applications</p>
    </div>*@

<!-- Services Section -->
<section class="services">
    <div class="container">
        <h2 class="text-center display-1">What do we do</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text text-secondary">We design and develop custom websites and web applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <p class="card-text text-secondary">Software development refers to a set of computer science activities dedicated to the process of creating, designing, deploying and supporting software. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cloud Computing</h5>
                        <p class="card-text text-secondary">We provide cloud computing solutions for businesses of all sizes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

